#a{
    width: 250px;
    height: 200px;
    background-color: rgb(226, 226, 226);
    border:7px solid black;
    border-radius: 20%;
}


#linha{
    width: 7px;
    height: 40px;
    background-color: black;
}

#bolinha{
    width: 40px;
    height: 40px;
    border-radius: 850%;
    background-color: rgb(255, 0, 0);
    border: 7px solid black;
}

#olho{
    width: 70px;
    height: 50px;
    background-image: linear-gradient(to bottom, #ff0000, #ff6600);
    border: solid rgb(77, 77, 77) 7px;
    border-radius: 30%;
    bottom: -20px;
    position: relative;
}

#olho2 {
    width: 70px;
    height: 50px;
    background-image: linear-gradient(to bottom, #ff0000, #ff6600);
    border: solid rgb(77, 77, 77) 7px;
    border-radius: 30%;
    bottom: -20px;
    position: relative;
}

#o{
    width: 50px;
    height: 7px;
    position: absolute;
    left: -52px; 
    bottom: 20px;
    background-color: rgb(77, 77, 77);
}

#boca{
    width: 40px;
    height: 7px;
    background-color: black;
    position: relative;
    bottom: 70px;
}

#corpo{
    width: 250px;
    height: 400px;
    background-color: rgb(226, 226, 226);
    border: solid 7px black;
    border-radius: 10px;
}

#bracoe{
    width: 50px;
    height: 350px;
    background-color: rgb(226, 226, 226);
    border: solid 7px black;
    border-radius: 10px;
}

#bracod{
    width: 50px;
    height: 350px;
    background-color: rgb(226, 226, 226);
    border: solid 7px black;
    border-radius: 10px;
}

#p {
    border: 5px solid aqua;
    width: 600px;
    height: 100px;
    border-radius: 100%;
}

#p2 {
    border: 5px solid aqua;
    width: 300px;
    height: 50px;
    border-radius: 100%;
}

#a{
    display: flex;
    justify-content: space-around;
}

.container{
    display: flex;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}