header{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.3);
}   

header{
    background-size: cover;
}

body{
    margin-top: 300px;
}

html{
    background-image: url("canva/Design sem nome.png");
}

#sol{
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    background-image: url("NovasImg/sol (2).png");
    transform: translateY(40px) translateX(10px) scale(1.4);
    
}
#orbit_mec{
    width:790px ;
    height: 790px;
    border-radius: 50%;
    border-bottom: 1.6px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;
    animation: orbit 2.4s linear infinite;
    position: absolute;
}
    


#mercurio{
    background-image: url("NovasImg/mercurio.png");
    width: 154px;
    height: 153px;
    background-repeat: no-repeat;
    position: relative;
    top:260px;
    right: -700px;
    animation: orbit 2s linear infinite;
 
}
#orbit_ven{
    width:1150px ;
    height: 1150px;
    border-radius: 50%;
  
    border-top: 1.6px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;
    animation: orbit2 6.13s linear infinite;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    
}   



#venus{
    background-image: url("NovasImg/venus.png");
    width: 161px;
    height: 160px;
    background-repeat: no-repeat;
    position: relative;
    right: -73px;
    animation: orbit 2s linear infinite;
}

#nomevenus{
    position: relative;
    right: -243px;
    top:-30px;
    z-index: 1;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
    animation: orbitaf 6.13s linear infinite;
    width: 200px;
    height: 200px;
}

#nomevenus:hover{
    position: relative;
    right: -243px;
    top:-30px;
    z-index: 1;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    animation: orbitaf 6.13s linear infinite;
    width: 200px;
    height: 200px;
    color: white;
}
#orbit_terra{
    width:1640px ;
    height: 1640px;
    border-radius: 50%;
    border-bottom: 1.6px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;
    animation: orbit 10s linear infinite;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}   


#terra{
    background-image: url("NovasImg/terra.png");
    width: 203px;
    height: 202px;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
    right: -95px;
    animation: orbit 10s linear infinite;
}
#lua{
    width: 71px;
    height: 71px;
    border: 50%;
    background-image:url("NovasImg/Lua2.png");
    background-repeat: no-repeat;
    position: relative;
    top:-35px;
    
}
#orbit_lua{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 2px solid white;
    animation: orbit2 1s linear infinite;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top:-30px;
    left: -35px;
   
}



#orbit_mart{
    width:2110px ;
    height: 2110px;
    border-radius: 50%;
    border-bottom: 1.6px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;
    animation: orbit 18.8s linear infinite;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}   


#marte{
    background-image: url("NovasImg/marte.png");
    width: 191px;
    height: 189px;
    background-repeat: no-repeat;
    position: relative;
    right: -100px;
    animation: orbit 6s linear infinite;
    
}
#orbit_met{
    width:2900px ;
    height: 2900px;
    border-radius: 50%;
    

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    animation: orbit 90s linear infinite;
    z-index: 1;
}   


.meteoro1{
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    position: relative;

    
 
    display: flex;
    flex-direction: column;
}
.meteoro2{
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    position: relative;
    right: -100px;

    display: flex;
    flex-direction: column;
}


  
#met1{
    background-color: rgb(104, 104, 104);
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    position: relative;
    animation: orbit2 10s linear infinite;

    clip-path: polygon(50% 0%, 80% 10%, 88% 40%, 89% 68%, 74% 83%, 55% 76%, 34% 68%, 18% 51%, 8% 38%, 20% 10%);

}

#met2{
    background-color: rgb(104, 104, 104);
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    position: relative;
    right: -40px;

    clip-path: polygon(56% 11%, 77% 6%, 100% 26%, 95% 66%, 76% 83%, 48% 94%, 14% 95%, 9% 68%, 14% 45%, 34% 26%);
    animation: orbit2 35s linear infinite;
}
#met3{
    background-color: rgb(104, 104, 104);
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    position: relative;
    right: -40px;

    clip-path: polygon(45% 24%, 66% 25%, 86% 40%, 90% 70%, 75% 83%, 49% 92%, 28% 80%, 12% 63%, 2% 35%, 24% 16%);
    animation: orbit2 18s linear infinite;
}
#met4{
    background-color: rgb(104, 104, 104);
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    position: relative;
    right: -60px;

    clip-path: polygon(48% 14%, 66% 24%, 89% 35%, 91% 65%, 75% 85%, 48% 89%, 26% 83%, 4% 66%, 8% 37%, 24% 15%);
    animation: orbit2 25s linear infinite;
}



#orbit_jup{
    width: 3300px;
    height: 3300px;
    border-radius: 50%;
    border-bottom: 1.6px solid rgb(255, 255, 255);
    border-left: 10px solid transparent; 
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: orbit 118.6s linear infinite;
}   


#jupiter{
    background-image: url("NovasImg/jupter.png");
    width: 327px;
    height: 327px;
    background-repeat: no-repeat;
    position: relative;
    right: -170px;
    animation: orbit 25s linear infinite;
}

#orbit_sat{
    width:4200px ;
    height: 4200px;
    border-radius: 50%;
    border-bottom: 1.6px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;

    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: orbit 294.6s linear infinite;
}   


#saturno{
    background-image: url("NovasImg/saturno.png");
    width: 535px;
    height: 359px;
    background-repeat: no-repeat;
    position: relative;
    right:-250px ;
    animation: orbit 40s linear infinite;
}
#orbit_ura{
    width:4900px ;
    height: 4900px;
    border-radius: 50%;

    border-top: 1.6px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;

    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: orbit2 540.1s linear infinite;
} 

#urano{
    background-image: url("NovasImg/urano.png");
    width: 418px;
    height: 211px;
    background-repeat: no-repeat;
    position: relative;
    right: -190px;
    animation: orbit 60s linear infinite;
    

}
#orbit_net{
    width:5500px ;
    height: 5500px;
    border-radius: 50%;
    border-bottom: 1.6px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;
    animation: orbit 2s linear infinite;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: orbit 847.9s linear infinite;
}   


#netuno{
    background-image: url("NovasImg/netuno.png");
    width: 257px;
    height: 256px;
    background-repeat: no-repeat;
    position: relative;
    right: -130px;
    animation: orbit 70s linear infinite;
}


@keyframes orbit{
    from{
        transform:rotate(360deg);
    }
}
@keyframes orbit2{
    from{
        transform: rotate(-360deg);
    }

}